     div {
      width: 800px;
      padding-left: 17%;
    }

    span[class="name"]{
      font-weight: bold;
      font-size: 25px;
    }

    span[class="zdroj"]{
      font-weight: bold;
    }

    h1 {
      text-align: center;
      font-size: 72px;
      font-family: "Impact";
      font-weight: bold;
    }

    h2 {
      text-align: left;
      padding-left: 20px;
      font-family: "Impact";
      font-size: 36px;
    }

    p[class="zanr"]{
      color: #F4FA58;;
    }

    p[class="autor"]{
      text-align: center;
    }

    p[class="zdroj"]{
      text-align: center;
      padding-bottom: 20px;
    }

    p{
      text-align: justify;
      font-family: "Palatino";
      font-size: 18px;
    }

    section[id="uvod"] {
      width: 700px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }

    body {
      background-color: #F4FA58;
      border: dotted;
      border-width: 15px;
    }

    footer {
      padding-bottom: 20px;
      font-weight: bold;
    }